NUXT_PUBLIC_WEB_PUSH_PUBLIC_KEY=
WEB_PUSH_PRIVATE_KEY=
WEB_PUSH_SUBJECT=mailto:admin@vibe-sync.app
NUXT_PUBLIC_API_BASE=/api
NETLIFY_SITE_ID=f9684ef0-9472-4a03-890e-29c073ad3e0a
NETLIFY_API_TOKEN=nfp_bXQvs82Zm28aPQGXtx4xsthizCPsDjtg07ef
