NUXT_PUBLIC_WEB_PUSH_PUBLIC_KEY=BFPa6R9SvWeRu-4S6bnFpuPMK-YvxIyVj2eVXAui2LegOMPlCwSX0FKfagm6QuXt7OADCqCvpdM4ECbV0mImnpQ
WEB_PUSH_PRIVATE_KEY=rPVNFhXG95I9XLaUk9w7l4xj_1ipsr1q9GQRJCjMj08
WEB_PUSH_SUBJECT=mailto:admin@vibe-sync.app
NUXT_PUBLIC_API_BASE=/api
NETLIFY_SITE_ID=3414eb38-83ee-4ad4-af52-cf35defd1fc4
NETLIFY_API_TOKEN=nfp_bXQvs82Zm28aPQGXtx4xsthizCPsDjtg07ef
